<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.greencarson.reciclaapp">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReciclaApp"
        tools:targetApi="31">
        <activity
            android:name="com.greencarson.reciclaapp.VerificaCorreo"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.VerDetallesNoticiasActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.FotoPerfil"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.SelfLocationStreetMap"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.StreetMapActivity"
            android:exported="false" >

        </activity>

        <activity
            android:name="com.greencarson.reciclaapp.VerNoticiasActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.greencarson.reciclaapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.greencarson.reciclaapp.VerDetallesActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.MaterialesSelectionActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.ReciclaApp.PopMe" />
        <activity
            android:name="com.greencarson.reciclaapp.MaterialesActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.DireccionActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.OrdenHorarioActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.SelfLocationStreetMapActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.HistorialRecoleccionesActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.CompletarDatosActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.MapaActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.TerminosCondicionesActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.IniciativaActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.SociosyamigosActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.ContactoActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.InformacionActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.ListItem"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.ListGroup"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.CuentaEliminada"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.EliminaTuCuenta"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.EliminarCuenta"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.CerrarSesion"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.CuentaActivada"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.ActivatuCuenta"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.ConfirmarRegistro"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.Contrasenaincorrrecta"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.GuardarCambios"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.TutorialActivity5"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.TutorialActivity4"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.TutorialActivity3"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.TutorialActivity2"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.TutorialActivity1"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.InicioActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.MainActivity2"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.CreditosActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.AvisoprivacidadActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.FavoritosActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.FQAActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.ConfiguracionActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.PerfilActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.SignupActivity"
            android:exported="false" />
        <activity
            android:name="com.greencarson.reciclaapp.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.greencarson.reciclaapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.greencarson.reciclaapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>