<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.reciclaapp">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReciclaApp"
        tools:targetApi="31">

        <activity
            android:name=".SelfLocationStreetMap"
            android:exported="false" />
        <activity
            android:name=".StreetMapActivity"
            android:exported="false" />

        <activity
            android:name=".VerNoticiasActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.reciclaapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".VerDetallesActivity"
            android:exported="false" />
        <activity
            android:name=".MaterialesSelectionActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.ReciclaApp.PopMe" />
        <activity
            android:name=".MaterialesActivity"
            android:exported="false" />
        <activity
            android:name=".DireccionActivity"
            android:exported="false" />
        <activity
            android:name=".OrdenHorarioActivity"
            android:exported="false" />
        <activity
            android:name=".SelfLocationStreetMapActivity"
            android:exported="false" />
        <activity
            android:name=".HistorialRecoleccionesActivity"
            android:exported="false"/>

        <activity
            android:name=".CompletarDatosActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".RecoleccionActivity"
            android:exported="false" />
        <activity
            android:name=".MapaActivity"
            android:exported="false" />
        <activity
            android:name=".NewsActivity"
            android:exported="false" />
        <activity
            android:name=".TerminosCondicionesActivity"
            android:exported="false" />
        <activity
            android:name=".IniciativaActivity"
            android:exported="false" />
        <activity
            android:name=".SociosyamigosActivity"
            android:exported="false" />
        <activity
            android:name=".ContactoActivity"
            android:exported="false" />
        <activity
            android:name=".InformacionActivity"
            android:exported="false" />
        <activity
            android:name=".ListItem"
            android:exported="false" />
        <activity
            android:name=".ListGroup"
            android:exported="false" />
        <activity
            android:name=".CuentaEliminada"
            android:exported="false" />
        <activity
            android:name=".EliminaTuCuenta"
            android:exported="false" />
        <activity
            android:name=".EliminarCuenta"
            android:exported="false" />
        <activity
            android:name=".CerrarSesion"
            android:exported="false" />
        <activity
            android:name=".CuentaActivada"
            android:exported="false" />
        <activity
            android:name=".ActivatuCuenta"
            android:exported="false" />
        <activity
            android:name=".ConfirmarRegistro"
            android:exported="false" />
        <activity
            android:name=".Contrasenaincorrrecta"
            android:exported="false" />
        <activity
            android:name=".GuardarCambios"
            android:exported="false" />
        <activity
            android:name=".TutorialActivity5"
            android:exported="false" />
        <activity
            android:name=".TutorialActivity4"
            android:exported="false" />
        <activity
            android:name=".TutorialActivity3"
            android:exported="false" />
        <activity
            android:name=".TutorialActivity2"
            android:exported="false" />
        <activity
            android:name=".TutorialActivity1"
            android:exported="false" />
        <activity
            android:name=".InicioActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".CreditosActivity"
            android:exported="false" />
        <activity
            android:name=".AvisoprivacidadActivity"
            android:exported="false" />
        <activity
            android:name=".FavoritosActivity"
            android:exported="false" />
        <activity
            android:name=".FQAActivity"
            android:exported="false" />
        <activity
            android:name=".ConfiguracionActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>